.subtotal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f4f4f4;
  padding: 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
}
.subtotal-gift {
  display: flex;
  align-items: center;
}
.subtotal-gift input {
  margin-right: 5px;
}
.payment {
  background-color: rgb(223, 190, 3);
  border: 1px solid rgba(255, 217, 0, 0.925);
  border-radius: 2px;
  width: 100%;
  height: 30px;
  margin-top: 10px;
  cursor: pointer;
}

@media (max-width: 650px) {
  .checkout {
    grid-template-areas:
      "a"
      "b";
    grid-template-columns: 1fr;
    padding: 10px;
  }
  .checkout-left {
    grid-area: b;
  }
  .checkout-right {
    grid-area: a;
  }
  .subtotal {
    padding: 0;
    border: 0;
  }
}
